body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #table-container {
    width: 80%;
    margin: 20px auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px   #e6e2d3;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  thead {
    background-color:  #f0f0f0;
    color: #141414;
  }
  
  thead th {
    text-align: left;
    padding: 10px;
    font-size: 16px;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color:  #e6e2d3;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  #thead-actions {
    text-align: center;
  }
  
  td button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  td button:nth-child(1) {
    background-color: #008cba;
    color: #fff;
  }
  
  td button:nth-child(2) {
    background-color: #c94c4c;
    color: #fff;
  }
  
  td button:hover {
    opacity: 0.8;
  }
  
  #addBtn {
    display: block;
    background-color: #008cba;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
  }
  
  #addBtn:hover {
    background-color: #0056b3;
  }
  
  
  #addEventForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #addEventForm input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  #addEventForm button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #confirmBtn {
    background-color: #008cba;
    color: #fff;
  }
  
  #cancelBtn {
    background-color: #c94c4c;
    color: #fff;
  }
  
  #addEventForm button:hover {
    opacity: 0.9;
  }
  